<div class="wrapper">
    <div class="content-wrapper">
        <div class="panel panel-default">
            <div class="panel-heading" id="heading">
                <div class="panel-title">
                    <h4 style="margin-top: 1%;padding-left: 45%;color:#ffffff">USER MASTER</h4>
                    <div class="btn-group pull-right clearfix" style="margin-left: 95%;margin-top: -3%;">
                        <button class="btn text-white" [routerLink]="['/usermanagement']"
                            [ngStyle]="{ 'background-color': active ? 'green' : '#a1f9c7' }"
                            [disabled]="!isactivateButton()">
                            ADD
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="tablecard">
                    <table id="userTable" class="table table-stripted align-middle text-center ">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">User Id </th>
                                <th scope="col">User FullName</th>
                                <th scope="col">User Role</th>
                                <th scope="col">User Address</th>
                                <th scope="col">Email</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let user of userList">
                            <tr>
                                <td class="fw-medium">{{ user.username }}</td>
                                <td class="fw-medium">{{ user.userIdName }}</td>
                                <td class="fw-medium">{{ user.autherity }}</td>
                                <td class="fw-medium">{{ user.address }}</td>
                                <td class="fw-medium">{{ user.email }}</td>
                                <td class="fw-medium">{{ user.mobileNumber }}</td>
                                <td class="fw-medium">{{ user.status }}</td>
                                <td class="fw-medium">{{ user.status }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>