<div class="bg-light border-end vh-100 p-2 sidebar">
  <ul class="nav flex-column">

    <li class="nav-item"
        *ngFor="let module of moduleList"
        (mouseenter)="module.isOpen = true"
        (mouseleave)="module.isOpen = false">

      <!-- Icon + Module Name -->
      <a class="nav-link d-flex align-items-center" role="button">
        <i [class]="module.icon" class="module-icon flex-shrink-0"></i>
        <span class="module-text ms-2 spanstyle flex-grow-0">
          {{ module.moduleName }}
        </span>
      </a>
  <!-- background: linear-gradient(to bottom, #01060A, #02BEEE);

       Submodules (visible only when hovered & sidebar expanded) -->
      <ul class="nav flex-column submodule-list gap-2"
          *ngIf="module.subModule?.length && module.isOpen">
        <li *ngFor="let sub of module.subModule">
          <a class="nav-link spanstyle" (click)="navigateTo(sub.url)">
            {{ sub.submoduleName }}
          </a>
        </li>
      </ul>

    </li>

  </ul>
</div>
