<div class="container">
  <div class="row">
    <div id="hirarchySelector" class="col-8">

    </div>
    <div id="element" class="col-4">
      <input type="date" [(ngModel)]="selectedDate" class="form-control form-control-sm" id="datedata">
      <button mat-button (click)="getReport()" class="btn btn-primary">GetReport</button>
    </div>
  </div>
  <div class="row" id="topbar">
    <div class="col-md-12" id="cscolumn">
      <div class="penal" id="penalheading">
        <div class="penal-heading" id="heading">
          <div class="penal-title" id="titelbar">
            <h4>Live Status</h4>
          </div>
        </div>
        <div class="penal penal-bd">
          <div class="container-md" id="liveCommcontainer">
            <div class="card mb-3" style="background-color: #c4c5c5;">
              <div class="card-header text-white text-center" style="background-color: #c6c6c9; padding-left: 20%;">
                <h4>DayLiveCommunication</h4>
              </div>
              <div class="card-body">
                <div class="row" id="commstatus">
                  <div class="col-sm-4" id="Agcomm">
                    <div id="cs-container">
                    </div>
                  </div>
                  <div class="col-sm-4" id="nogagcol">
                    <div id="nonagcomm">
                    </div>
                  </div>
                  <div class="col-sm-4" id="total-col">
                    <div id="total-comm">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-sm">
    Last Week Communication
  </div>
  <div class="col-sm">
    Signal Strength
  </div>
</div>