<div class="wrapper">
  <div class="content-wrapper">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4 style="color: #ffffff;"> DASHBOARD</h4>
        </div>
      </div>
      <div class="panel-body">
        <div id="hierarchySelector">
        </div>
        <div class="container-fluid	">
          <div class="row">
            <div class="col-md-auto d-flex flex-column bg-light p-3" id="communicationStatus">
              <div class="d-flex ">
                <div id="cs-container" class=" p-2 flex-fill ">
                  <!--AG Communicating-->>
                </div>
                <div id="nonagcomm" class=" p-2  flex-fill">
                  <!-- Non-AG Communication content -->
                </div>
                <div id="HighVoltage" class=" p-2  flex-fill">
                  <!-- Non-AG Communication content -->
                </div>
                <div id="total-comm" class="p-2  flex-fill">
                  <!-- Total Communication content -->
                </div>
              </div>
            </div>
            <div class="col">Column 2</div>
            <div class="col">Column 3</div>
          </div>
          <div class="row">

          </div>
        </div>
      </div>
      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>