<div class="wrapper m-0">
  <div class="content-wrapper">
    <div class="card">
      <!-- Header -->
      <div class="card-header" style="background-color: #075E54;">
        <h4 class="mb-0 text-white">DASHBOARD</h4>
      </div>

      <!-- Body -->
      <div class="card-body">
        <!-- Hierarchy Selector -->
        <div id="hierarchySelector" class="container-fluid mb-3">
          <div class="d-flex flex-nowrap align-items-end gap-2 overflow-auto p-0">

            <!-- Hierarchy Dropdowns -->
            <div *ngFor="let level of levels; let i = index; trackBy: trackByLevel" class="flex-shrink-0"
              style="min-width: 190px;">
              <label class="form-label">{{ level }}</label>
              <select class="form-select" [(ngModel)]="selectedValues[i]"
                (change)="onLevelChange(i, selectedValues[i], level)">
                <option value="">--all--</option>
                <option *ngFor="let opt of getOptionsForLevel(level)" [value]="opt.id">
                  {{ opt.name }}
                </option>
              </select>
            </div>

            <!-- Date Selector -->
            <div class="flex-shrink-0" style="min-width: 180px;">
              <label class="form-label">Select Date</label>
              <input type="date" class="form-control" [(ngModel)]="reportDate" />
            </div>

            <!-- Button -->
            <div class="flex-shrink-0" style="min-width: 80px;">
              <button type="button" class="btn btn-primary w-100" (click)="getReport()">Get</button>
            </div>
          </div>
        </div>

        <!-- Communication Summary -->
        <div id="communicationSummary" class="container-fluid">
          <div class="row gap-2">

            <div class="col-md-4 d-flex flex-column bg-light p-0" id="communicationStatus"></div>

            <div class="col-md-4 d-flex flex-column bg-light p-0" id="weekLast">
              <div id="lastSevendaysCommunication" class="d-inline-block border w-100 h-100"></div>
            </div>

            <div class="col-md-3 d-flex flex-column bg-light p-0" id="signalstrength">
              <div id="signalStatus" class="d-inline-block border w-100 h-100"></div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-12 d-flex flex-column bg-light p-0" id="loadSurvey">

            </div>

          </div>
        </div>


      </div>
    </div>
  </div>