#hadding{
    background-color:#075E54;
    font-size: x-large;
    color:#ffffff;
     padding-left: 20%;
     height: 10%;
     margin-top: -2%;
     
}
#subDiv_1{
   
background-color: #7a2bc4;

}
